body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1, h2, header a {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

footer a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.element-base {
  width: 402px;
  height: auto;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(224, 224, 224, 0.8);
  box-shadow: 0px 5px 10px 0px rgba(224, 224, 224, 0.8);
  border-radius: 15px;
}
@media screen and (max-width: 462px) {
  .element-base {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .element-base {
    width: 280px;
  }
}

.btn {
  width: 190px;
  height: 45px;
  border-radius: 25px;
  background: -moz-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 0px 5px 10px 0px #BFBFBF;
  box-shadow: 0px 5px 10px 0px #BFBFBF;
  color: white;
  border: none;
  font-weight: 500;
  transition: all 500ms;
}
.btn:hover {
  background: -moz-linear-gradient(to bottom, #ff88de 0%, #9b63df 100%);
  background: -webkit-linear-gradient(to bottom, #ff88de 0%, #9b63df 100%);
  background: linear-gradient(to bottom, #ff88de 0%, #9b63df 100%);
  box-shadow: 0px 5px 10px 0px #8c8c8c;
}

.fa-arrow-left {
  color: grey;
}

.fa-map-marker-alt {
  padding-right: 20px;
}

.infos-bloc__icone {
  margin-right: 30px;
  color: grey;
}

.fa-heart {
  margin-right: 20px;
  transition: all 500ms;
  font-size: 24px;
}
.fa-heart:hover {
  font-weight: bold;
  background: linear-gradient(to bottom, #FF79DA 10%, #9356DC 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.footer__icone-proposer {
  margin-right: 15px;
}

.footer__icone-partenaire {
  margin-right: 7px;
}

.spin-background {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0;
  animation: spin-opacite 4s linear;
  pointer-events: none;
  z-index: 1;
}

.spin-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-opacite {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 2px 3px 1px #D8D8D8;
  box-shadow: 0px 2px 3px 1px #D8D8D8;
  position: relative;
}

.footer__titre {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: lighter;
}

footer {
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-left: 25px;
}
footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}

header a {
  position: absolute;
  left: 5%;
  top: 44%;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecebeb;
}
.explorer__lieu {
  font-weight: 500;
  padding-right: 20px;
}
.explorer-bloc {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}
.explorer-bloc__titre {
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  font-size: 26px;
}
.explorer-bloc__txt {
  width: 80%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
}

.infos-bloc {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .infos-bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.infos-bloc__titre {
  width: 90%;
  text-align: left;
  font-size: 26px;
}
.infos-bloc__choisir, .infos-bloc__composer, .infos-bloc__deguster {
  font-weight: 500;
  font-size: 16px;
  background-color: #F7F7F7;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.numero-info {
  width: 20px;
  height: 20px;
  border: 1px solid #9356DC;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  font-size: 13px;
  margin-right: 30px;
  margin-left: -10px;
}

.restaurant {
  background-color: #F7F7F7;
  padding-top: 25px;
  margin-top: 50px;
}
.restaurant-apercu {
  position: relative;
  width: 90%;
  height: auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #EAEAEA;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .restaurant-apercu {
    width: 40%;
  }
}
.restaurant-apercu img {
  width: 100%;
}
.restaurant-apercu__titre {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.restaurant-apercu__ville {
  margin-top: 3px;
  margin-left: 10px;
}
.restaurant-apercu__nouveau {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  right: 4%;
  top: 5%;
  z-index: 0;
  border-radius: 2px;
}
.restaurant-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 769px) {
  .restaurant-bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurant-bloc__titre {
  width: 90%;
  text-align: left;
  font-size: 26px;
}

.restaurant-carte {
  background-color: #F7F7F7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 50px;
}
@media screen and (min-width: 1440px) {
  .restaurant-carte {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 306px;
    height: 800px;
  }
}
.restaurant-carte i {
  width: 7%;
}
.restaurant-carte__titre {
  margin-left: 5px;
  animation-duration: 1s;
  animation-name: apparition;
  transition: transform 1500ms;
  transition-delay: 500ms;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .restaurant-carte__titre {
    width: 100%;
  }
}
.restaurant-carte__footer {
  margin-top: -50px;
}
@media screen and (min-width: 1440px) {
  .restaurant-carte__footer {
    margin-top: -306px;
  }
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .bloc-menu {
    width: 30%;
  }
}
.bloc-menu__btn {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  animation-duration: 3800ms;
  animation-name: apparition;
}
.bloc-menu__infos {
  flex: 0 0 66px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 425px) {
  .bloc-menu__infos {
    width: 385px;
  }
}
@media screen and (max-width: 424px) {
  .bloc-menu__infos {
    width: 280px;
  }
}
.bloc-menu__infos__check-icone {
  color: white;
  transition: transform 350ms;
  transition-delay: 120ms;
  transform: scale(-1, -1);
}
.bloc-menu__infos:hover > .hover-animation {
  transform: translate(-100%, 0);
}
.bloc-menu__infos:hover > .bloc-menu__infos__prix {
  transform: translate(-110%, 0);
}
.bloc-menu__infos:hover > .bloc-menu__infos__detail {
  width: calc(75% - 20px);
}
@media screen and (max-width: 424px) {
  .bloc-menu__infos:hover > .bloc-menu__infos__detail {
    width: calc(75% - 32px);
  }
}
.bloc-menu__infos:hover .bloc-menu__infos__check-icone {
  transform: rotate(0deg);
}
.bloc-menu__infos__prix {
  margin-top: 2px;
  margin-bottom: 10px;
  transition: transform 300ms ease-out;
  margin-left: 40px;
}
@media screen and (max-width: 424px) {
  .bloc-menu__infos__prix {
    margin-left: 25px;
  }
}
.bloc-menu__infos__detail {
  width: 78%;
  font-weight: 300;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width 300ms ease-out;
}
@media screen and (max-width: 424px) {
  .bloc-menu__infos__detail {
    width: 75%;
  }
}
.bloc-menu__infos__titre {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bloc-menu__titre {
  align-self: flex-start;
  margin-left: 5px;
  font-weight: 300;
}
.bloc-menu__titre--underline {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
}

.hover-animation {
  width: 60px;
  background-color: #99E2D0;
  height: 67px;
  position: relative;
  margin-left: -15px;
  left: 104%;
  bottom: 65px;
  transition: transform 330ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 424px) {
  .hover-animation {
    left: 106%;
  }
}

.entrees {
  animation-duration: 2s;
  animation-name: apparition;
  transition: transform 1500ms;
  transition-delay: 500ms;
}

.plats {
  animation-duration: 2800ms;
  animation-name: apparition;
  transition: transform 1500ms;
  transition-delay: 500ms;
}

.desserts {
  animation-duration: 3300ms;
  animation-name: apparition;
  transition: transform 1500ms;
  transition-delay: 500ms;
}

@keyframes apparition {
  from {
    opacity: 0%;
    transform: translate(0, 15%);
  }
  50% {
    opacity: 0%;
    transform: translate(0, 15%);
  }
  to {
    opacity: 100%;
    transform: translate(0, 0);
  }
}
.background-image {
  overflow: hidden;
}
@media screen and (min-width: 1920px) {
  .background-image {
    height: 1000px;
  }
}

.background-image img {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .background-image img {
    bottom: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
