@charset "UTF-8";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 2px 3px 1px #D8D8D8;
  box-shadow: 0px 2px 3px 1px #D8D8D8;
  position: relative;
}

.fa-arrow-left {
  color: grey;
  position: relative;
  right: 70px;
  top: 2px;
}

h1, h2, header a {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

.fa-map-marker-alt {
  padding-right: 20px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecebeb;
}
.explorer__lieu {
  font-weight: 500;
  padding-right: 20px;
}
.explorer-bloc {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}
.explorer-bloc__titre {
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  font-size: 26px;
}
.explorer-bloc__txt {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
}

.btn {
  width: 190px;
  height: 45px;
  border-radius: 25px;
  background: #FF79DA;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 0px 5px 10px 0px #BFBFBF;
  box-shadow: 0px 5px 10px 0px #BFBFBF;
  color: white;
  border: none;
  font-weight: 500;
}

.infos-bloc__icone {
  margin-right: 30px;
  color: grey;
}

.infos-bloc {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.infos-bloc__titre {
  width: 90%;
  text-align: left;
  font-size: 26px;
}
.infos-bloc__choisir, .infos-bloc__composer, .infos-bloc__deguster {
  font-weight: 500;
  font-size: 16px;
  background-color: #F7F7F7;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.numero-info {
  width: 20px;
  height: 20px;
  border: 1px solid #9356DC;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  font-size: 13px;
  margin-right: 30px;
  margin-left: -10px;
}

.element-base {
  width: 85%;
  height: auto;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(224, 224, 224, 0.8);
  box-shadow: 0px 5px 10px 0px rgba(224, 224, 224, 0.8);
  border-radius: 15px;
}

.fa-heart {
  position: relative;
  top: 5px;
  margin-right: 20px;
  transition: background-color 500ms;
}
.fa-heart:hover {
  background-color: #FF79DA;
  background-color: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}

.restaurant {
  background-color: #F7F7F7;
  padding-top: 25px;
  margin-top: 50px;
}
.restaurant-aperçu {
  width: 90%;
  height: auto;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #EAEAEA;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.restaurant-aperçu img {
  width: 100%;
}
.restaurant-aperçu__titre {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.restaurant-aperçu__ville {
  margin-top: 3px;
  margin-left: 10px;
}
.restaurant-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.restaurant-bloc__titre {
  width: 90%;
  text-align: left;
  font-size: 26px;
}

/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
-----------------------PAGE MENUS-----------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
------------------------------------------------------------------*/
.restaurant-carte {
  background-color: #F7F7F7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 50px;
}
.restaurant-carte__titre {
  margin-left: 5px;
}
.restaurant-carte__footer {
  margin-top: -50px;
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bloc-menu__btn {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bloc-menu__infos {
  flex: 0 0 66px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
}
.bloc-menu__infos__check-icone {
  color: white;
  transition: transform 350ms;
  transition-delay: 120ms;
  transform: scale(-1, -1);
}
.bloc-menu__infos:hover > .hover-animation {
  transform: translate(-100px, 0);
}
.bloc-menu__infos:hover > .bloc-menu__infos__prix {
  transform: translate(-50px, 0);
}
.bloc-menu__infos:hover > .bloc-menu__infos_detail {
  padding-right: 50px;
}
.bloc-menu__infos:hover .bloc-menu__infos__check-icone {
  transform: rotate(0deg);
}
.bloc-menu__infos__prix {
  margin-top: 2px;
  margin-bottom: 10px;
  transition: transform 300ms ease-out;
  margin-left: 40px;
}
.bloc-menu__infos__detail {
  width: 75%;
  font-weight: 300;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 300ms ease-out;
}
.bloc-menu__infos__titre {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
}
.bloc-menu__titre {
  align-self: flex-start;
  margin-left: 5px;
  font-weight: 300;
}
.bloc-menu__titre--underline {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
}

.hover-animation {
  width: 60px;
  background-color: #99E2D0;
  height: 67px;
  position: relative;
  margin-left: -15px;
  left: 114%;
  bottom: 65px;
  transition: transform 330ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
-----------------------bas de page et background--------------------
--------------------------------------------------------------------
--------------------------------------------------------------------
------------------------------------------------------------------*/
.background-image {
  position: relative;
  width: 100%;
}

footer {
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-left: 25px;
}
footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer__titre {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: lighter;
}

/*# sourceMappingURL=style.css.map */
