.fa-arrow-left{
    color: grey;
}

.fa-map-marker-alt{
    padding-right: 20px;
}

.infos-bloc__icone{
    margin-right: 30px;
    color: $info-bloc_icone-colour;
}

.fa-heart{
    margin-right: 20px;
    transition: all 500ms;
    &:hover{
        font-weight: bold;
        color: $couleur-primaire;
    }
}