.spin-background {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0;
    animation: spin-opacité 4s linear;
    pointer-events: none;
    z-index: 1;
}

.spin-loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #FF79DA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-opacité {
    from {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    to {
        opacity: 0;

    }
}