body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, header a{
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    margin: 0;
}

h2{
    font-size: 30px;
}

a:link{
    text-decoration: none;
}

a{
    color: black;
}
