$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$shadow-btn-colour: #BFBFBF;
$shadow-element-base-colour: rgba(224,224,224,0.8);
$shadow-header-colour: #D8D8D8;

$element-background-colour: #F7F7F7;
$explorer-backgound-colour: #ecebeb